/* :root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  --base: #121212;
  --primary: #2FA4A9;
  --secondary: #A92FA4;
} */

.bg-base {
  background-color: var(--base);
}

.bg-base-inverted {
  background-color: var(--base-inverted);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-base {
  color: var(--base);
}

.text-base-inverted {
  color: var(--base-inverted);
}

.text-green {
  color: var(--primary);
}

.text-pink {
  color: var(--secondary);
}

.btn-green {
  background-color: var(--primary);
  border: solid 1px var(--primary);
}

.btn-pink {
  background-color: var(--secondary);
  border: solid 1px var(--secondary);
} 

.btn-green:hover {
  background-color: #258386;
  border: solid 1px #258386;
}

.btn-pink:hover {
  background-color: #7c2379;
  border: solid 1px #7c2379;
}

.h-100vh { 
  min-height: 100vh;
}

.w-100vw { 
  min-width: 100vw;
}

.text-white { 
  color: var(--base-inverted);
}

