:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  --base: #121212;
  --base-inverted: rgb(228, 228, 228);
  --primary: #2FA4A9;
  --secondary: #A92FA4;
}

* {
  background-color: var(--base);
  color: var(--base-inverted);
}

.row, .navbar {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
}

@media (prefers-color-scheme: light) {
  * {
    color: var(--base);
    background-color: var(--base-inverted);
  }
}